# Milestone Project: 
- Clone the Flask Demo repository and create your own Flask app on Heroku that accepts a stock ticker input from the user and plots closing price data for the last month. The Quandle WIKI dataset provides this data for free, and you can use Python's Requests library along with simplejson to access it in Python via API. You can analyze the data using pandas and plot using Bokeh. By the end you should have some kind of interactive visualization viewable from the Internet.
- Heroku is a popular cloud application platform, and their documentation is a great resource for understanding how to deploy a simple (free!) server using git.
- For more information about Flask, here is a good starting point, especially the links in the "Starting Off" section. This tutorial has great step-by-step explanations.
- Note: By default, Flask prohibits connections from external machines. If you wish to run Flask from your DO server but access it from your local machine via your web browser, you must replace the command app.run() with app.run(host='0.0.0.0') in your main program.

API Key: ts2seF_Hy53zE-K6xcxz

In [2]:
import numpy as np
import requests
import pandas as pd
import json

In [20]:
ticker = 'GOOG'
json_obj = requests.get('https://www.quandl.com/api/v3/datasets/WIKI/'+ticker+'.json?order=asc')

data = json.loads(json_obj.text)

df = pd.read_json(json.dumps(data['dataset']['data']))

# map the column names
df.columns = data['dataset']['column_names']

In [21]:
df.tail()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
685,2016-12-13,793.90,804.3799,793.34,796.10,2085270,0,1,793.90,804.3799,793.34,796.10,2085270
686,2016-12-14,797.40,804.0000,794.01,797.07,1652691,0,1,797.40,804.0000,794.01,797.07,1652691
687,2016-12-15,797.34,803.0000,792.92,797.85,1607120,0,1,797.34,803.0000,792.92,797.85,1607120
688,2016-12-16,800.40,800.8558,790.29,790.80,2337154,0,1,800.40,800.8558,790.29,790.80,2337154
689,2016-12-19,790.22,797.6600,786.27,794.20,1209619,0,1,790.22,797.6600,786.27,794.20,1209619

In [26]:
df.ix[685:688,]

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
685,2016-12-13,793.90,804.3799,793.34,796.10,2085270,0,1,793.90,804.3799,793.34,796.10,2085270
686,2016-12-14,797.40,804.0000,794.01,797.07,1652691,0,1,797.40,804.0000,794.01,797.07,1652691
687,2016-12-15,797.34,803.0000,792.92,797.85,1607120,0,1,797.34,803.0000,792.92,797.85,1607120
688,2016-12-16,800.40,800.8558,790.29,790.80,2337154,0,1,800.40,800.8558,790.29,790.80,2337154

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
company = data['dataset']['name']

In [15]:
from bokeh.plotting import figure, show, output_file, vplot

In [18]:
output_file("stockstest.html", title=company)

p1 = figure(x_axis_type = "datetime")
p1.line(df['Date'], df['Close'], color='#0000FF', legend=ticker+": Close")
p1.title = ticker + " (Data from Quandle WIKI set)"
p1.grid.grid_line_alpha=1.0
p1.xaxis.axis_label = 'Date'
show(p1)